---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-nolink.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single-publications.html %}
  {% endfor %}
{% endif %}

<hr>

## Conference Publications

<ol>
  <li>
    Long V, <strong>Wang E. Y.</strong>, Moe J.
    <em>EMED: A Randomized Controlled Trial Investigating Buprenorphine/Naloxone in Emergency Departments.</em>
    Canadian Society of Addiction Medicine, Victoria, Canada. (2025, Abstract)
  </li>

  <li>
    Bruketa E, <strong>Wang E. Y.</strong>, Moe J.
    <em>Evaluating Microdosing of Suboxone in the Emergency Department: A Qualitative Review.</em>
    International Conference on Emergency Medicine, Montreal, Canada. (2025, Paper)
  </li>

  <li>
    Bruketa E, <strong>Wang E. Y.</strong>, Moe J.
    <em>A Qualitative Review of ED Buprenorphine-Naloxone Microdosing.</em>
    UBC Department of Emergency Medicine Research Day, Vancouver, Canada. (2024, Abstract)
  </li>

  <li>
    Moe J, Otterstatter M, Chavez T, <strong>Wang E. Y.</strong>, Feldman-Kiss D, Buxton J.
    <em>Physiologic Oxygen Responses to Smoking Opioids.</em>
    BCCDC Research Week, Vancouver, Canada. (2023, Abstract)
  </li>

  <li>
    <strong>Wang E. Y.</strong>, Moe J.
    <em>Characterizing Frequent Emergency Department Visits and Substance Use.</em>
    BCCDC Research Day, Vancouver, Canada. (2022, Abstract)
  </li>

  <li>
    Ahad T, <strong>Wang E. Y.</strong>, et al.
    <em>Incidence of Skin Cancers in Patients with Eczema Treated with Ultraviolet Phototherapy.</em>
    BC Cancer Summit, Vancouver, Canada. (2021, Abstract and Poster)
  </li>

  <li>
    <strong>Wang E. Y.</strong>, et al.
    <em>The Incidence and Profile of Skin Cancer in Patients Undergoing Ultraviolet-B Phototherapy.</em>
    The 29th Photodermatology Society Annual Meeting, Denver, United States (Remotely).
    (2020, Abstract and Presentation)
  </li>

  <li>
    <strong>Wang E. Y.</strong>, et al.
    <em>Incidence and Profile of Skin Cancer in Patients Undergoing Ultraviolet-B Phototherapy.</em>
    UBC Skin Cancer Research Day, Vancouver, Canada. (2020, Abstract and Presentation)
  </li>

  <li>
    <strong>Wang E. Y.</strong>, et al.
    <em>Risk of Skin Cancer Development in Patients Treated with Ultraviolet Therapy.</em>
    UBC Skin Cancer Research Day, Vancouver, Canada. (2019, Abstract and Presentation)
  </li>

  <li>
    <strong>Wang E. Y.</strong>, et al.
    <em>In Vivo Assessment of Skin Thickness and Melanin Response to UV Photoadaptation.</em>
    UBC Skin Cancer Research Day, Vancouver, Canada. (2018, Abstract and Poster)
  </li>

  <li>
    Oniffrey TM, <strong>Wang E. Y.</strong>, et al.
    <em>Nutrition Knowledge and Obesity in Chinese Adults.</em>
    7th Annual Wake Forest School of Medicine Global Health Symposium,
    Winston-Salem, United States. (2017, Abstract and Poster)
  </li>

  <li>
    <strong>Wang E. Y.</strong>, Wang S.
    <em>
      Relationship between the Klotho Level in Preeclampsia and Maternal and Infantile
      Anthropometric As Well As Biochemical Indexes.
    </em>
    The 47th Asia-Pacific Academic Consortium for Public Health (APACPH) Conference,
    Bandung, Indonesia. (2015, Abstract and Poster)
  </li>
</ol>
