<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork"> <h2 class="archive__item-title" itemprop="headline"> {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }} </h2>

  {% if post.collection == 'publications' %}
    <p>
      Published in <i>{{ post.venue | markdownify | remove: "<p>" | remove: "</p>" }}</i>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
    </p>
  {% elsif post.venue or post.date %}
    <p>
      {% if post.venue %}<i>{{ post.venue | markdownify | remove: "<p>" | remove: "</p>" }}</i>
{% endif %}
      {% if post.venue and post.date %}, {% endif %}
      {% if post.date %}{{ post.date | date: "%Y" }}{% endif %}
    </p>
  {% endif %}

  {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">
      {{ post.excerpt | markdownify }}
    </p>
  {% endif %}

  {%- comment -%}
    Add a simple "Download Paper" button if paperurl exists.
    This does NOT depend on permalink/title links.
  {%- endcomment -%}
  {% if post.paperurl %}
    <p>
      <a class="btn btn--primary" href="{{ post.paperurl }}">Download Paper</a>
    </p>
  {% endif %}
</article>
